<aside class="links">
  <% if (data.category.relation === "all_categories") { %>
  <% for (let category of data.relatedPages) { %>
  <% if (category.pages.length > 0) { %>
  <div class="article-link-list-title"><%= category.categoryName %>の記事 (<%= category.pages.length %>)</div>
  <div class="article-link-list responsive-grid-column">
    <% for (let page of category.pages) { %>
    <a class="article-link" href="/<%= page.pageId %>">
      <div class="article-link-image" style="background-image: url(<%=page.captionImage%>)"></div>
      <div class="article-link-title"><%= page.title %></div>
    </a>
    <% } %>
  </div>
  <% } %>
  <% } %>
  <% } else if (data.category.relation === "same_categories") { %>
  <% if (data.relatedPages.length > 0) { %>
  <div class="article-link-list-title">関連記事</div>
  <div class="article-link-list responsive-grid-column">
    <% for (let page of data.relatedPages) { %>
    <a class="article-link" href="/<%= page.pageId %>">
      <div class="article-link-image" style="background-image: url(<%=page.captionImage%>)"></div>
      <div class="article-link-title"><%= page.title %></div>
    </a>
    <% } %>
  </div>
  <% } %>
  <% } %>
</aside>
<aside class="content">
  <% for (let section of data.bottomContent.sections) { %>
  <%- section.html %>
  <% } %>
</aside>