<header class="header">
  <div class="header-title">
    <a href="/">
      <% if (data.setting.logoImage) { %>
      <img class="logo-image" src="<%= data.setting.logoImage %>" alt="<%= data.setting.siteName %>" />
      <% } else { %>
      <%= data.setting.siteName %>
      <% } %>
    </a>
  </div>
  <% if (data.setting.menuItems.length > 0) { %>
  <nav class="navigation">
    <% for (let menuItem of data.setting.menuItems) { %>
    <a href="<%= menuItem.href %>"><%= menuItem.label %></a>
    <% } %>
  </nav>
  <% } %>
  <% if (data.setting.topImage) { %>
  <img class="top-image" src="<%= data.setting.topImage %>" />
  <% } %>
</header>