<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<% if (data.page.status === "noindex" || !data.isPublish) { %>
<meta name="robots" content="noindex">
<% } %>
<link rel="icon" href="/media/icon-32x32.png" sizes="32x32">
<link rel="icon" href="/media/icon-192x192.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="/media/icon-180x180.png">
<meta name="msapplication-TileImage" content="/media/icon-270x270.png">
<title><%= (data.page.title?(data.page.title + " | "):"") + data.setting.siteName %></title>
<% for (let stylesheet of data.stylesheets) { %>
<link rel="stylesheet" type="text/css" href="/css/<%= stylesheet.fileName %>?<%= data.timestamp %>">
<% } %>
<meta name="description" content="<%= data.page.description %>">
<meta name="thumbnail"
  content="<%= data.setting.publishUrl %><%= data.page.captionImage || '/media/icon-270x270.png' %>" />
<meta property="og:description" content="<%= data.page.description %>">
<meta property="og:title" content="<%= data.page.title %>">
<meta property="og:url" content="<%= data.setting.publishUrl %>">
<meta property="og:image"
  content="<%= data.setting.publishUrl %><%= data.page.captionImage || '/media/icon-270x270.png' %>">
<meta property="og:site_name" content="<%= data.setting.siteName %>">
<meta property="og:locale" content="ja_JP">
<% if (data.page.type === "post") { %>
<meta property="og:type" content="article">
<meta property="article:published_time" content="<%= data.page.publishedDate %>T00:00:00+09:00">
<meta property="article:modified_time" content="<%= data.page.modifiedDate %>T00:00:00+09:00">
<% } else { %>
<meta property="og:type" content="website">
<% } %>
<meta property="article:section" content="<%= data.page.categoryName %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="<%= data.page.description %>">
<meta name="twitter:title" content="<%= data.page.title %>">
<meta name="twitter:url" content="<%= data.setting.publishUrl %>">
<meta name="twitter:image"
  content="<%= data.setting.publishUrl %><%= data.page.captionImage || '/media/icon-270x270.png' %>">
<meta name="twitter:domain" content="<%= data.setting.publishUrl.replace('https://', '') %>">