<!DOCTYPE html>
<html>

<head>
  <%- include("./meta.ejs", data) %>
</head>

<body page="<%= data.pageId %>">
  <%- include("./header.ejs", data) %>
  <%- include("./main.ejs", data) %>
  <%- include("./aside.ejs", data) %>
  <%- include("./footer.ejs", data) %>
</body>

</html>