<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <title><%= data.setting.siteName %></title>
  <link rel="stylesheet" type="text/css" href="/style.css?<%= data.timestamp %>">
  <link rel="stylesheet" type="text/css" href="/content.css?<%= data.timestamp %>">
</head>

<body>
  <%- include("./header.ejs", data) %>
  <%- include("./navigation.ejs", data) %>
  <img class="top-image" src="<%= data.setting.topImage %>" />
  <%- include("./content.ejs", data) %>
  <%- include("./related.ejs", data) %>
  <%- include("./footer.ejs", data) %>
</body>

</html>